*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
project/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/.classpath
/.project
/src/intellij*/*.iml
/src/intellij*/*.ipr
/src/intellij*/*.iws
**/.cache
/.idea
/.settings

# ENSIME specific
.ensime_cache/
.ensime

# macOS
.DS_Store
